<h1><%= @article.title %></h1>
<p><%= @article.body %></p>
<br>
<%= link_to "<< Back to Articles List", articles_path %>
<br><br><br>
<%= link_to "Delete Article", article_path(@article), method: :delete, data: {confirm: "Really delete the article?"} %>
<%= link_to "Edit Article", edit_article_path(@article) %>